body {
    border: 5px solid purple;
}

.page-container {
    display: flex;
    flex-direction: row;
    gap: 1vh;
    padding: 2vh;
}

.page-contents-container {
    flex-grow: 7.7;
    border: 2px solid tomato;
    width: 77%;
}

.table-of-contents-container {
    display: flex;
    flex-grow: 2.3;
    /* min-width: 200px; */
    width: 22%;
}

.accordion-toc-container {
    /* display: none; */
}

.accordion-button {
    height: 40px;
    border-radius: 5px;
    width: 100%;
    background-color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 400;
    font-size: large;
    text-align: left;
    padding-left: 15px;
    border: 2px solid #872bff;
}
  
.accordion-panel {
    margin-top: 10px;
    padding-left: 0px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: 1px solid transparent;
    border-radius: 2px;
}
    
.accordion-list-container {
    margin-top: 20px;
    padding-left: 20px;
}
  
.accordion-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    padding-bottom: 7px;
}
  
.accordion-text {
    display: inline-block;
    text-decoration: none;
    color: #551a8b;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 400;
    font-size: medium;
}
  
.accordion-text:hover {
    color: #04AA6D;
}
  

.math-block {
    flex-grow: 1;
    background-color: blueviolet;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: large;
    margin-top: 10px;
    display: flex;
    color: #fff;
    max-height: 250px;
    overflow: auto;
    padding-left: 50px;
}
  
.block-equation {
    flex-grow: 1;
}
  
.copy-clipboard {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
}
  
.btn-clipboard {
    height: 35px;
    width: 35px;
    line-height: 35px;
    color: red;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.code-block {
    font-size: medium;
    display: flex;
    margin-top: 20px;
}
  
.code-snippet {
    max-width: 98%;
    flex: 99%;
}
  
.copy-code-clipboard {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 0px;
    background-color: #04AA6D;
}
  
.btn-code-clipboard {
    height: 35px;
    width: 35px;
    line-height: 35px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.image-block {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: teal;
    display: flex;
    justify-content: center;
}
  
.image-container {
    max-height: 500px;
    max-width: 100%;
}
  
.image-container:hover {
    opacity: 0.8;
}

.video-container {
    background-color: steelblue;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
  
.video-player {
    height: 500px;
    width: 80%;
    border: none !important;
}
  
.heading-1 {
    margin-left: 10px;
    color: seagreen;
    padding-top: 7px;
    padding-bottom: 4px;
    font-family: 'Istok Web', sans-serif;
    background-color: wheat;
}
  
.heading-2 {
    margin-left: 10px;
    color: slateblue;
    padding-top: 7px;
    padding-bottom: 4px;
    font-family: 'Istok Web', sans-serif;
    background-color: wheat;
}
  
.heading-3 {
    margin-left: 10px;
    color: coral;
    padding-top: 7px;
    padding-bottom: 4px;
    font-family: 'Istok Web', sans-serif;
    background-color: wheat;
}

.table-of-contents {
    margin-bottom: 20px;
    border: 2px solid blueviolet;
    /* border-left: 2px solid #cdcdcd; */
    /* background-color: antiquewhite; */
}
  
.toc-container {
    margin-left: 10px;
    margin-bottom: 10px;
}
  
.on-this-page {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 900;
    font-size: large;
}
  
.page-nav {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 400;
    font-size: medium;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-left: 2px solid #cdcdcd;
}
  
.page-nav-active {
    background-color: #ece2ff;
    border-left: 2px solid #872bff;
}
  
.page-nav-text {
    display: inline-block;
    text-decoration: none;
    color: #551a8b;
    /* color: #333; */
}
  
.page-nav-text:hover {
    color: #04AA6D;
}

.toc-head-1 {
    padding-left: 0px;
}
  
.toc-head-2 {
    padding-left: 11px;
}
  
.toc-head-3 {
    padding-left: 25px;
}

.horizontal-divider {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    height: 3px;
    background-color: tomato;
    border: none;
}
  
.quote {
    background-color: #ddffdd;
    border-left: 6px solid #04AA6D;
    margin-bottom: 15px;
    padding: 4px 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: large;
    padding-left: 20px;
}
  
.standout {
    background-color: bisque;
    margin-bottom: 15px;
    padding: 4px 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
.standout-container {
    /* background-color: #04AA6D; */
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.standout-icon {
    /* background-color: #333; */
}
  
.standout-text {
    flex: auto;
    /* background-color: royalblue; */
    margin-left: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: larger;
    font-weight: 400;
}
  
.audio-container {
    background-color: cadetblue;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
  
.audio-player {
    padding-top: 10px;
    padding-bottom: 6px;
    width: 40%;
}

.table-block {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    background-color: thistle;
    margin-bottom: 25px;
    border: 5px solid black;
    max-height: 400px;
    max-width: 100%;
    overflow: auto;
    text-align: center;
}
  
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: 5px solid yellow;
    margin: 0 auto;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

.file-container {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;
    background-color: cornsilk;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    outline: 1px solid black;
    border: 2px solid transparent;
    width: 50%;
}
  
.file-container:hover {
    border: 2px solid black;
    outline: 0px solid transparent;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
  
.file-icon {
    /* background-color: whitesmoke */
}
  
.file-reference {
    flex: auto;
    padding-left: 10px;
}
  
.file-link {
    text-decoration: none;
    font-size: medium;
    font-family: arial, sans-serif;
    color: black;
}



@media (max-width: 768px){

    /* .page-container {
        flex-direction: column-reverse;
    } */

    /* .page-contents-container {
        width: 100%;
    }
 */
    
    .math-block {
        font-size: small;
    }

    .table-of-contents-container {
        display: none;
    }

    .video-player {
        height: 300px;
        width: 99%;
    }

    .audio-player {
        width: 80%;
    }

}