:root {
    --fsize-root-min: 14px;
    --fsize-root-max: 21px;
    --fsize-title: 2.7rem;
    --fsize-h1: 2.2rem;
    --fsize-h2: 1.8rem;
    --fsize-h3: 1.4rem;
    --fsize-body: 0.9rem;
    --fsize-math: 0.92rem;
    --fsize-code: 0.85rem;
    --fsize-quote: 0.92rem;
    --fsize-standout: 1.02rem;
    --fsize-table: 0.86rem;
    --fsize-snackbar: 0.86rem;
    --fsize-page-loader: 1.1rem;
    --fsize-creator: 1.2rem;
    --fsize-nav-title: 1.1rem;
    --fsize-nav-text: 0.82rem;
    --fsize-file-link: 0.85rem;
    --fsize-hyperlink: 1.05rem;
    --fsize-sm-title: 2.2rem;
    --fsize-sm-h1: 2.0rem;
    --fsize-sm-h2: 1.6rem;
    --fsize-sm-h3: 1.2rem;
    --fsize-sm-body: 0.85rem;
    --fsize-sm-math: 0.82rem;
    --fsize-sm-code: 0.8rem;
    --fsize-sm-nav-text: 0.96rem;
    --fsize-sm-table: 0.82rem;
    --fsize-sm-page-loader: 1.05rem;
    --size-clipboard-icon: 18px;
    --width-scrollbar: 6px;
    --height-scrollbar: 6px;
    --width-taskbar-icon: 42px;
    --height-taskbar-icon: 42px;
    --width-sm-taskbar-icon: 28px;
    --height-sm-taskbar-icon: 28px;
    --width-icon: 32px;
    --height-icon: 32px;
    --width-sm-icon: 20px;
    --height-sm-icon: 20px;

    --height-max-math: 300px;
    --height-max-sm-math: 250px;
    --height-max-image: 500px;
    --height-max-sm-image: 250px;
    --height-max-video: 500px;
    --height-max-sm-video: 250px;


    --gap-left-math: 25px;



    --gap-blocks-horizontal: 10px;
    --gap-blocks-vertical: 25px;
    --gap-blocks-vertical-reduced: 20px;
    --gap-blocks-vertical-reduced-more: 15px;
    --gap-caption-vertical: 5px;


    --font-title: 'Alegreya SC', serif;
    --font-body: arial, sans-serif;
    --font-heading: 'Istok Web', sans-serif;
    --font-standout: 'Roboto Condensed', sans-serif;
    --font-nav: 'Barlow Semi Condensed', sans-serif;
    --font-inline-code: 'Prompt', sans-serif;
    --font-math: 'IBM Plex Sans Hebrew', sans-serif;

    /* --color-primary-main: #3949ab;
    --color-primary-light: #6f74dd;
    --color-primary-dark: #00227b;
    --color-secondary-main: #00695c;
    --color-secondary-light: #439889;
    --color-secondary-dark: #003d33; */

    /* --core-color-brown-light: #7b5e57;
    --core-color-brown-main: #4e342e;
    --core-color-brown-dark: #260e04; */


    --core-color-teal-very-light: #E0F2F1;
    --core-color-teal-light: #439889;
    --core-color-teal-main: #00695c;
    --core-color-teal-dark: #003d33;

    --core-color-purple-very-very-light: #faf5fb;
    --core-color-purple-very-light: #e6d4f7;
    --core-color-purple-light: #d3b3f1;
    --core-color-purple-main: #872bff;
    --core-color-purple-dark: #551a8b;
    --core-color-purple-very-dark: #2a0d45;

    --core-color-seagreen-light: #ddffdd;
    --core-color-seagreen-main: #04AA6D;
    --core-color-bisque-main: bisque;
    --core-color-slateblue-main: slateblue;
    --core-color-coral-main: coral;
    /* --core-color-cornsilk-light: #fffbed; */

    --core-color-orangered-main: orangered;
    --core-color-whitesmoke-main: whitesmoke;
    --core-color-gray-light: #dddddd;

    --core-color-white-main: #ffffff;
    --core-color-black-main: #000000;

    --core-color-gray-main: #121212;
    --core-color-gray-light: #333333;
    --core-color-gray-blue: #292c35;

    --core-color-blue-very-dark: #00060a;
    --core-color-indigo-light: #6f74dd;
    --core-color-gold-light: #ffe973;
}


html {
    scroll-behavior: smooth;
    font-size: clamp(var(--fsize-root-min), var(--fsize-root-min) + 0.390625vw, var(--fsize-root-max));
}

body {
    margin: 0px;
    /* border: 5px solid purple; */
    font-size: var(--fsize-body);
    font-family: var(--font-body);
    background-color: var(--color-bg-body);
    color: var(--color-text-body);
    /* margin-left: 0;
    margin-right: 0; */
}

.light-mode {
    --color-bg-body: var(--core-color-white-main);
    --color-text-body: var(--core-color-black-main);
    --color-bg-progressbar: var(--core-color-purple-light);
    --color-fill-progressbar: var(--core-color-teal-light);
    --color-bg-taskbar: var(--core-color-teal-main);
    --color-text-title: var(--core-color-teal-dark);
    --color-bg-math: var(--core-color-seagreen-light);
    --color-text-math: var(--core-color-black-main);
    --color-button-clipboard: var(--core-color-purple-main);
    --color-bg-standout: var(--core-color-bisque-main);
    --color-text-standout: var(--core-color-black-main);
    --color-bg-quote: var(--core-color-seagreen-light);
    --color-border-quote: var(--core-color-seagreen-main);
    --color-text-quote: var(--core-color-black-main);
    --color-bg-divider: var(--core-color-purple-dark);
    --color-bg-file: var(--core-color-teal-very-light);
    --color-text-file: var(--core-color-black-main);
    --color-border-file: var(--core-color-black-main);
    --color-outline-file: var(--core-color-black-main);

    --color-text-toc: var(--core-color-purple-dark);
    --color-text-hover-toc: var(--core-color-teal-main);
    --color-border-toc: var(--core-color-purple-light);
    --color-border-active-toc: var(--core-color-purple-dark);
    --color-bg-active-toc: var(--core-color-purple-very-light);
    --color-text-toc-header: var(--core-color-blue-very-dark);

    --color-text-heading-1: var(--core-color-teal-light);
    --color-text-heading-2: var(--core-color-slateblue-main);
    --color-text-heading-3: var(--core-color-coral-main);

    --color-bg-inline-code: var(--core-color-whitesmoke-main);
    --color-text-inline-code: var(--core-color-orangered-main);
    --color-text-inline-link: var(--core-color-seagreen-main);

    --color-text-hyperlink: var(--core-color-teal-main);
    --color-bg-table-header: var(--core-color-teal-light);
    --color-text-table-header: var(--core-color-black-main);
    --color-bg-hover-table: var(--core-color-purple-very-light);
    --color-bg-even-table: var(--core-color-whitesmoke-main);
    --color-border-table: var(--core-color-gray-light);

    --color-bg-prism: var(--core-color-purple-very-very-light);
    --color-bg-accordion: var(--core-color-whitesmoke-main);
    --color-text-accordion: var(--core-color-black-main);
    --color-border-accordion: var(--core-color-purple-main);
    --color-bg-accordion-panel: var(--core-color-whitesmoke-main);
    --color-text-accordion-panel: var(--core-color-purple-main);

    --color-scroll-track-math: var(--core-color-purple-main);
    --color-scroll-thumb-math: var(--core-color-black-main);

    --color-scroll-track-code: var(--core-color-teal-light);
    --color-scroll-thumb-code: var(--core-color-gray-blue);

    --color-scroll-track-table: var(--core-color-teal-very-light);
    --color-scroll-thumb-table: var(--core-color-teal-main);

    --color-scroll-track-toc: var(--core-color-teal-very-light);
    --color-scroll-thumb-toc: var(--core-color-teal-light);

    --color-icon-accordion: var(--core-color-black-main);
    --color-icon-standout: var(--core-color-purple-main);

    --color-bg-page-loader: var(--core-color-teal-very-light);
    --color-text-page-loader: var(--core-color-blue-very-dark);
    --color-bubble-page-loader: var(--core-color-slateblue-main);

    --color-text-snackbar: var(--core-color-black-main);
    --color-bg-snackbar: var(--core-color-purple-light);
}

.dark-mode {
    --color-bg-body: var(--core-color-gray-main);
    --color-text-body: var(--core-color-white-main);
    --color-bg-progressbar: var(--core-color-teal-light);
    --color-fill-progressbar: var(--core-color-purple-main);
    --color-bg-taskbar: var(--core-color-purple-very-dark);
    --color-text-title: var(--core-color-teal-light);
    --color-bg-math: var(--core-color-purple-dark);
    --color-text-math: var(--core-color-white-main);
    --color-button-clipboard: var(--core-color-whitesmoke-main);
    --color-bg-standout: var(--core-color-indigo-light);
    --color-text-standout: var(--core-color-whitesmoke-main);
    --color-bg-quote: var(--core-color-teal-dark);
    --color-border-quote: var(--core-color-teal-light);
    --color-text-quote: var(--core-color-white-main);
    --color-bg-divider: var(--core-color-coral-main);
    --color-bg-file: var(--core-color-teal-main);
    --color-text-file: var(--core-color-whitesmoke-main);
    --color-border-file: var(--core-color-slateblue-main);
    --color-outline-file: var(--core-color-slateblue-main);

    --color-text-toc: var(--core-color-whitesmoke-main);
    --color-text-hover-toc: var(--core-color-seagreen-main);
    --color-border-toc: var(--core-color-teal-light);
    --color-border-active-toc: var(--core-color-teal-main);
    --color-bg-active-toc: var(--core-color-teal-dark);
    --color-text-toc-header: var(--core-color-purple-light);

    --color-text-heading-1: var(--core-color-teal-light);
    --color-text-heading-2: var(--core-color-slateblue-main);
    --color-text-heading-3: var(--core-color-coral-main);

    --color-bg-inline-code: var(--core-color-gray-blue);
    --color-text-inline-code: var(--core-color-gold-light);
    --color-text-inline-link: var(--core-color-seagreen-main);

    --color-text-hyperlink: var(--core-color-purple-very-very-light);
    --color-bg-table-header: var(--core-color-teal-light);
    --color-text-table-header: var(--core-color-black-main);
    --color-bg-hover-table: var(--core-color-purple-dark);
    --color-bg-even-table: var(--core-color-gray-blue);
    --color-border-table: var(--core-color-gray-light);

    --color-bg-prism: var(--core-color-blue-very-dark);
    --color-bg-accordion: var(--core-color-blue-very-dark);
    --color-text-accordion: var(--core-color-whitesmoke-main);
    --color-border-accordion: var(--core-color-teal-main);
    --color-bg-accordion-panel: var(--core-color-blue-very-dark);
    --color-text-accordion-panel: var(--core-color-whitesmoke-main);

    --color-scroll-track-math: var(--core-color-whitesmoke-main);
    --color-scroll-thumb-math: var(--core-color-teal-light);

    --color-scroll-track-code: var(--core-color-whitesmoke-main);
    --color-scroll-thumb-code: var(--core-color-teal-light);

    --color-scroll-track-table: var(--core-color-whitesmoke-main);
    --color-scroll-thumb-table: var(--core-color-teal-main);

    --color-scroll-track-toc: var(--core-color-teal-very-light);
    --color-scroll-thumb-toc: var(--core-color-slateblue-main);

    --color-icon-accordion: var(--core-color-white-main);
    --color-icon-standout: var(--core-color-blue-very-dark);

    --color-bg-page-loader: var(--core-color-gray-blue);
    --color-text-page-loader: var(--core-color-whitesmoke-main);
    --color-bubble-page-loader: var(--core-color-coral-main);

    --color-text-snackbar: var(--core-color-whitesmoke-main);
    --color-bg-snackbar: var(--core-color-gray-light);
}

/* body.dark-mode {
    color: white;
    background-color: ;
} */

.prevent-select {
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    -o-user-select: none;
}


.image-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.99);
    align-items: center;
    justify-content: center;
    margin-top: -1px;
  
} 
  
.modal-content {
    width: 90%;
    max-width: 90%;
    object-fit: cover;
}
  
.progress-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 7px;
    background: var(--color-bg-progressbar);
    display: none;
}
  
.progress-bar {
    height: 7px;
    background: var(--color-fill-progressbar);
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: var(--color-bg-snackbar);
    color: var(--color-text-snackbar);
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: var(--fsize-snackbar);
}
  
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}
  
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}
  
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.page-loader {
    position: absolute;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.page-loader-message {
    font-size: var(--fsize-page-loader);
}

.page-loader-wrap {
    margin: 0 10px 10px 0;
    padding: 25px 40px 25px 40px;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
    background-color: var(--color-bg-page-loader);
    color: var(--color-text-page-loader);
    padding-bottom: 30px;
}

.page-loader-spinner {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;
}
  
.page-loader-bubble-1, .page-loader-bubble-2 {
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: var(--color-bubble-page-loader);
}

.page-loader-bubble-2 {
    top: auto;
    bottom: 0;
}

.page-loader-load .page-loader-spinner {
    animation: loadingI 2s linear infinite;
}

.page-loader-load .page-loader-bubble-1,
.page-loader-load .page-loader-bubble-2 {
    animation: bounce 2s ease-in-out infinite;
}
  
.page-loader-load .page-loader-bubble-2 {
    animation-delay: -1s;
}

@keyframes loadingI {
    100% {
      transform: rotate(360deg);
    }
}
  
@keyframes bounce {
    0%,
    100% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
}

.block-equation::-webkit-scrollbar-track
{
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	background-color: var(--color-scroll-track-math);
	/* border-radius: 3px; */
}

.block-equation::-webkit-scrollbar
{
	width: var(--width-scrollbar);
	height: var(--height-scrollbar);
}

.block-equation::-webkit-scrollbar-thumb
{
	background-color: var(--color-scroll-thumb-math);
    /* border-radius: 3px; */
	/* background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148))); */
}




.code-block-prism::-webkit-scrollbar-track
{
	background-color: var(--color-scroll-track-code);
}

.code-block-prism::-webkit-scrollbar
{
	width: var(--width-scrollbar);
	height: var(--height-scrollbar);
}

.code-block-prism::-webkit-scrollbar-thumb
{
	background-color: var(--color-scroll-thumb-code);
}





.table-block::-webkit-scrollbar-track
{
	background-color: var(--color-scroll-track-table);
    margin-top: 1px;
}

.table-block::-webkit-scrollbar
{
	width: var(--width-scrollbar);
	height: var(--height-scrollbar);
}

.table-block::-webkit-scrollbar-thumb
{
	background-color: var(--color-scroll-thumb-table);
}



.toc-items-container::-webkit-scrollbar-track
{
	background-color: var(--color-scroll-track-toc);
}

.toc-items-container::-webkit-scrollbar
{
	width: var(--width-scrollbar);
	height: var(--height-scrollbar);
}

.toc-items-container::-webkit-scrollbar-thumb
{
	background-color: var(--color-scroll-thumb-toc);
}


/* .block-equation::-webkit-scrollbar {
    width: 10px;
  }
  
  .block-equation::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  .block-equation::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  .block-equation::-webkit-scrollbar-thumb:hover {
    background: #555; 
  } */

.page-title {
    text-decoration: none;
    font-size: var(--fsize-title);
    white-space: wrap;
    /* background-color: tan; */
    color: var(--color-text-title);
    margin-bottom: calc(var(--gap-blocks-vertical) + 20px);
    font-family: var(--font-title);
    font-weight: 400;
    padding-left: var(--gap-blocks-horizontal);
}

.page-container {
    display: none;
    flex-direction: row;
    gap: 1vh;
    padding: 1vh;
    /* border: 3px solid yellow; */
    margin-top: calc(var(--fsize-creator) + 5px + 5px + 7px + 15px);
}

.top-fixed-taskbar {
    background-color: var(--color-bg-taskbar);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(var(--fsize-creator) + 25px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: none;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 7px;
}

.top-taskbar-container-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    /* background-color: burlywood; */
    margin-left: 10px;
}

.created-by-container {
    text-decoration: none;
    font-size: var(--fsize-creator);
    color: white;
}

.top-taskbar-container-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    /* background-color: tomato; */
    margin-right: 10px;
}


.dark-mode-toggle-container {
    position: relative;
    width: 57px;
    height: 30px;
    margin: 0 auto;
    border-radius: 40px;
}

.dark-mode-toggle-container input[type="checkbox"] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

.dark-mode-toggle-container span {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    opacity: 1;
    background-color: #fff;
    border-radius: 40px;
    transition: 0.2s ease background-color, 0.2s ease opacity;
}

.dark-mode-toggle-container span:before,
.dark-mode-toggle-container span:after {
    content: "";
    position: absolute;
    top: 5px;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    transition: 0.5s ease transform, 0.2s ease background-color;
}

.dark-mode-toggle-container span:before {
    background-color: #fff;
    transform: translate(-21px, 0px);
    z-index: 1;
}

.dark-mode-toggle-container span:after {
    background-color: #000;
    transform: translate(5px, 0px);
    z-index: 0;
}

.dark-mode-toggle-container input[type="checkbox"]:checked + span {
    background-color: #000;
}

.dark-mode-toggle-container input[type="checkbox"]:active + span {
    opacity: 0.5;
}

.dark-mode-toggle-container input[type="checkbox"]:checked + span:before {
    background-color: #000;
    transform: translate(25px, -8px);
}

.dark-mode-toggle-container input[type="checkbox"]:checked + span:after {
    background-color: #fff;
    transform: translate(32px, 0px);
}

.github-container {
    padding-top: 5px;
    margin-left: -2px;
}




/* CSS for old dark mode slider */
/* .dark-mode-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.dark-mode-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.dark-mode-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
  
.dark-mode-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
  
.dark-mode-input:checked + .dark-mode-slider {
    background-color: #2196F3;
}
  
.dark-mode-input:focus + .dark-mode-slider {
    box-shadow: 0 0 1px #2196F3;
}
  
.dark-mode-input:checked + .dark-mode-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
} */
  
.notion-container {
    /* background-color: #04AA6D; */
    padding-top: 5px;
}



.page-contents-container {
    flex-grow: 7.7;
    /* border: 2px solid tomato; */
    width: 77%;
}

.table-of-contents-container {
    display: flex;
    flex-grow: 2.3;
    /* min-width: 200px; */
    width: 22%;
    /* max-width: 500px; */
}

.accordion-toc-container {
    display: none;
}

.accordion-button {
    height: 40px;
    border-radius: 5px;
    max-width: 100%;
    background-color: var(--color-bg-accordion);
    color: var(--color-text-accordion);
    font-family: var(--font-nav);
    font-weight: 400;
    font-size: var(--fsize-nav-title);
    padding-left: 7px;
    padding-right: 3px;
    border: 2px solid var(--color-border-accordion);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion-toc-icon {
    fill: var(--color-icon-accordion);
}

.accordion-panel {
    margin-top: 10px;
    padding-left: 0px;
    background-color: var(--color-bg-accordion-panel);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: 1px solid transparent;
    border-radius: 2px;
}
    
.accordion-list-container {
    margin-top: 20px;
    padding-left: 20px;
    max-height: 400px;
    overflow-y: auto;
}
  
.accordion-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    padding-bottom: 7px;
}
  
.accordion-text {
    display: inline-block;
    text-decoration: none;
    color: var(--color-text-accordion-panel);
    font-family: var(--font-nav);
    font-weight: 400;
    font-size: var(--fsize-sm-nav-text);
}
  
.accordion-text:hover {
    color: #04AA6D;
}
  
.block-caption {
    text-align: center;
    margin-top: var(--gap-caption-vertical);
    font-family: var(--font-nav);
    font-weight: 400;
}

.taskbar-icon {
    width: var(--width-taskbar-icon);
    height: var(--height-taskbar-icon);
}

.body-icon {
    width: var(--width-icon);
    height: var(--height-icon);
}

.katex {
    font-family: var(--font-math);
    font-weight: 400;
}


.math-block {
    flex-grow: 1;
    background-color: var(--color-bg-math);
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: var(--fsize-math);
    margin-top: var(--gap-blocks-vertical);
    display: flex;
    color: var(--color-text-math);
    max-height: var(--height-max-math);
    padding-left: var(--gap-left-math);
}

.block-equation {
    flex-grow: 1;
    overflow: auto;
    white-space: nowrap;
}
  
.copy-clipboard {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg-math);
}
  
.btn-clipboard {
    height: 35px;
    width: 28px;
    line-height: 35px;
    color: var(--color-button-clipboard);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.copy-clipboard-svg {
    fill: var(--color-button-clipboard);
    width: var(--size-clipboard-icon);
    height: var(--size-clipboard-icon);
}

.code-block {
    font-size: var(--fsize-code);
    display: flex;
    margin-top: var(--gap-blocks-vertical);
    /* background-color: #551a8b; */
}
  
.code-snippet {
    max-width: calc(100% - 22px);
    overflow-y: auto;
    flex-grow: 1;
}

.code-block-prism {
    max-height: 500px;
}
  
.copy-code-clipboard {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 10px;
    margin-left: 0px;
    /* background-color: #04AA6D; */
    /* background-color: #272822; */
}
  
.btn-code-clipboard {
    height: 35px;
    width: 22px;
    line-height: 35px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.image-block {
    margin-top: var(--gap-blocks-vertical);
    margin-left: calc(2 * var(--gap-blocks-horizontal));
    margin-right: calc(2 * var(--gap-blocks-horizontal));
    background-color: teal;
    display: flex;
    justify-content: center;
}
  
.image-container {
    max-height: var(--height-max-image);
    max-width: 100%;
}
  
.image-container:hover {
    opacity: 0.8;
}

.video-container {
    /* background-color: steelblue; */
    margin-top: var(--gap-blocks-vertical);
    /* margin-left: 10px;
    margin-right: 10px; */
    margin-left: calc(2 * var(--gap-blocks-horizontal));
    margin-right: calc(2 * var(--gap-blocks-horizontal));
    text-align: center;
}
  
.video-player {
    height: var(--height-max-video);
    width: 100%;
    border: none !important;
}
  
.heading-1 {
    margin-left: var(--gap-blocks-horizontal);
    color: var(--color-text-heading-1);
    /* padding-top: 7px;
    padding-bottom: 4px; */
    font-family: var(--font-heading);
    /* background-color: wheat; */
    font-size: var(--fsize-h1);
    
}
.heading-2 {
    margin-left: var(--gap-blocks-horizontal);
    color: var(--color-text-heading-2);
    /* padding-top: 7px;
    padding-bottom: 4px; */
    font-family: var(--font-heading);
    /* background-color: wheat; */
    font-size: var(--fsize-h2);
}
  
.heading-3 {
    margin-left: var(--gap-blocks-horizontal);
    color: var(--color-text-heading-3);
    /* padding-top: 7px;
    padding-bottom: 4px; */
    font-family: var(--font-heading);
    /* background-color: wheat; */
    font-size: var(--fsize-h3);
}

.text-container-section {
    scroll-margin: calc(var(--fsize-creator) + 5px + 5px + 7px + 15px + 2vh + 10px);
}

.table-of-contents {
    margin-bottom: 20px;
    /* border: 2px solid blueviolet; */
    /* border-left: 2px solid #cdcdcd; */
    /* background-color: antiquewhite; */
    position: fixed;
    width: calc(22% - 4px);
    height: calc(100% - (var(--fsize-creator) + 5px + 5px + 7px + 15px + 2vh + 25px + 10px));
}
  
.toc-container {
    margin-left: 10px;
    margin-bottom: 10px;
}

.toc-items-container {
    /* background-color: salmon; */
    height: calc(100vh - (var(--fsize-creator) + 5px + 5px + 7px + 15px + 2vh + 25px + 3*var(--fsize-nav-title) + 6px + 10px));
    overflow-y: auto;
}

.on-this-page {
    font-family: var(--font-nav);
    font-weight: 900;
    font-size: var(--fsize-nav-title);
    color: var(--color-text-toc-header);
    /* background-color: seagreen; */
}


.page-nav {
    font-family: var(--font-nav);
    font-weight: 600;
    font-size: var(--fsize-nav-text);
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-left: 2px solid var(--color-border-toc);
}
  
.page-nav-active {
    background-color: var(--color-bg-active-toc);
    border-left: 2px solid var(--color-border-active-toc);
}
  
.page-nav-text {
    display: inline-block;
    text-decoration: none;
    color: var(--color-text-toc);
    /* color: #333; */
}
  
.page-nav-text:hover {
    color: var(--color-text-hover-toc);
}

.toc-head-1 {
    padding-left: 0px;
}
  
.toc-head-2 {
    padding-left: 11px;
}
  
.toc-head-3 {
    padding-left: 25px;
}

.list-item {
    margin-bottom: 5px;
}
  
.text-paragraph {
    margin-left: var(--gap-blocks-horizontal);
    margin-right: var(--gap-blocks-horizontal);
    margin-top: var(--gap-blocks-vertical-reduced);
}

.horizontal-divider {
    margin-top: var(--gap-blocks-vertical-reduced);
    margin-left: var(--gap-blocks-horizontal);
    margin-right: var(--gap-blocks-horizontal);
    height: 3px;
    background-color: var(--color-bg-divider);
    border: none;
}
  
.quote {
    background-color: var(--color-bg-quote);
    border-left: 6px solid var(--color-border-quote);
    color: var(--color-text-quote);
    padding: 4px 12px;
    margin-left: var(--gap-blocks-horizontal);
    margin-right: var(--gap-blocks-horizontal);
    margin-top: var(--gap-blocks-vertical);
    font-family: var(--font-standout);
    font-weight: 400;
    font-style: italic;
    font-size: var(--fsize-quote);
    padding-left: 20px;
}
  
.standout {
    background-color: var(--color-bg-standout);
    color: var(--color-text-standout);
    padding: 4px 12px;
    margin-left: var(--gap-blocks-horizontal);
    margin-right: var(--gap-blocks-horizontal);
    margin-top: var(--gap-blocks-vertical);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
.standout-container {
    /* background-color: #04AA6D; */
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.standout-icon {
    fill: var(--color-icon-standout);
}
  
.standout-text {
    flex: auto;
    /* background-color: royalblue; */
    margin-left: 15px;
    font-family: var(--font-standout);
    font-size: var(--fsize-standout);
    font-weight: 400;
}
  
.audio-container {
    background-color: cadetblue;
    margin-left: var(--gap-blocks-horizontal);
    margin-right: var(--gap-blocks-horizontal);
    text-align: center;
    margin-top: var(--gap-blocks-vertical);
}
  
.audio-player {
    padding-top: 10px;
    padding-bottom: 6px;
    width: 40%;
}

.inline-link {
    text-decoration: none;
    font-size: calc(var(--fsize-body) + 1px);
    color: var(--color-text-inline-link);
}

.inline-code {
    color: var(--color-text-inline-code);
    font-family: var(--font-heading);
    background-color: var(--color-bg-inline-code);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    font-family: var(--font-inline-code);
    font-weight: 400;
}

.table-block {
    margin-left: var(--gap-blocks-horizontal);
    margin-right: var(--gap-blocks-horizontal);
    margin-top: var(--gap-blocks-vertical);
    /* background-color: thistle; */
    /* border: 5px solid black; */
    max-height: 400px;
    max-width: 100%;
    overflow: auto;
    text-align: center;
    font-size: var(--fsize-table);
}
  
table {
    border-collapse: collapse;
    /* border: 5px solid yellow; */
    margin: 0 auto;
    overflow: auto;
    border: 1px solid var(--color-border-table);
}

tr {
    border-bottom: 1px solid var(--color-border-table);
}

thead tr {
    background-color: var(--color-bg-table-header);
    color: var(--color-text-table-header);
}

td, th {
    text-align: center;
    padding: 15px 30px;
    /* min-width: 150px; */
}

tbody tr:nth-child(even) {
    background-color: var(--color-bg-even-table);
}

tbody tr:hover {
    background-color: var(--color-bg-hover-table);
}

.file-container {
    margin-top: var(--gap-blocks-vertical-reduced);
    margin-left: var(--gap-blocks-horizontal);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;
    background-color: var(--color-bg-file);
    color: var(--color-text-file);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    outline: 1px solid var(--color-outline-file);
    border: 2px solid transparent;
    width: 50%;
}
  
.file-container:hover {
    border: 2px solid var(--color-border-file);
    outline: 0px solid transparent;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
  
.file-icon {
    /* background-color: whitesmoke */
}
  
.file-reference {
    flex: auto;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
.file-link {
    text-decoration: none;
    font-size: var(--fsize-file-link);
    color: black;
    display: contents;
}

.hyperlink-container {
    margin-left: var(--gap-blocks-horizontal);
    margin-right: var(--gap-blocks-horizontal);
    margin-top: var(--gap-blocks-vertical-reduced-more);
    padding-top: 4px;
    padding-bottom: 4px;
    width: fit-content;
}

.hyperlink-container:hover {
    /* border: 2px solid seagreen; */
}

.hyperlink {
    font-size: var(--fsize-hyperlink);
    text-decoration: none;
    color: var(--color-text-hyperlink);
    transition: .3s;
    display: inline-block;
    padding-left: 20px;
    padding-right: 25px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    font-family: var(--font-nav);
    font-weight: 400;
    font-style: italic;
}
  
.hyperlink:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    font-weight: normal;
}
  
.hyperlink::before {
    position: absolute;
    top: -2px;
    left: -7px;
    box-sizing: content-box;
    padding: 0 5px;
    width: 100%;
    height: 100%;
    border: 2px solid seagreen;
    /* content: ''; */
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}
  
.hyperlink:hover::before{
    opacity: 1;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.tweet-block {
    margin-top: 30px;
    margin-bottom: 30px;
    /* background-color: mediumslateblue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

blockquote .twitter-tweet {
    display: inline-block;
}


body.light-mode pre[class*=language-]{
    background: var(--color-bg-prism);
}

body.light-mode .line-numbers.line-numbers .line-numbers-rows{
    background: var(--color-bg-prism);
}

body.dark-mode pre[class*=language-]{
    background: var(--color-bg-prism);
}


@media (max-width: 768px){

    /* .page-container {
        flex-direction: column-reverse;
    } */

    /* .page-contents-container {
        width: 100%;
    }
 */

    body {
        font-size: var(--fsize-sm-body);
    }

    .page-title {
        font-size: var(--fsize-sm-title);
    }

    .math-block {
        font-size: var(--fsize-sm-math);
        max-height: var(--height-max-sm-math);
    }

    .block-equation::-webkit-scrollbar {
	    width: 3px;
	    height: 3px;
    }

    .table-of-contents-container {
        display: none;
    }

    .video-player {
        height: 250px;
        width: 99%;
    }

    .audio-player {
        width: 95%;
    }

    .table-block {
        max-height: 300px;
        font-size: var(--fsize-sm-table);
    }

    td, th {
        padding: 8px 15px;
    }
    
    .file-container {
        width: 65%;
    }

    .file-link {
        font-size: var(--fsize-file-link);
    }

    .code-block {
        font-size: var(--fsize-sm-code);
        max-height: 400px;
    }
    
    .created-by-container {
        font-size: var(--fsize-creator);
    }

    /* .github-container {
        display: none;
    } */

    .dark-mode-switch {
        width: 40px;
        height: 22px;
    }
      
    .dark-mode-slider {
        border-radius: 22px;
    }
      
    .dark-mode-slider:before {
        height: 18px;
        width: 18px;
        left: 2px;
        bottom: 2px;
    }

    .dark-mode-input:checked + .dark-mode-slider:before {
        -webkit-transform: translateX(18px);
        -ms-transform: translateX(18px);
        transform: translateX(18px);
    }

    .accordion-toc-container {
        display: block;
    }

    .heading-1 {
        font-size: var(--fsize-sm-h1);
    }
    
    .heading-2 {
        font-size: var(--fsize-sm-h2);
    }
    
    .heading-3 {
        font-size: var(--fsize-sm-h3);
    }

    .taskbar-icon {
        width: var(--width-sm-taskbar-icon);
        height: var(--height-sm-taskbar-icon);
    }

    .body-icon {
        width: var(--width-sm-icon);
        height: var(--height-sm-icon);
    }



    .dark-mode-toggle-container {
        width: 42px;
        height: 22px;
    }

    .dark-mode-toggle-container span:before,
    .dark-mode-toggle-container span:after {
        top: 3px;
        width: 16px;
        height: 16px;
    }

    .dark-mode-toggle-container span:before {
        transform: translate(-16px, 0px);
    }

    .dark-mode-toggle-container span:after {
        transform: translate(3px, 0px);
    }

    .dark-mode-toggle-container input[type="checkbox"]:checked + span:before {
        background-color: #000;
        transform: translate(18px, -7px);
    }

    .dark-mode-toggle-container input[type="checkbox"]:checked + span:after {
        background-color: #fff;
        transform: translate(23px, 0px);
    }

    .page-loader-message {
        font-size: var(--fsize-sm-page-loader);
    }
    
    .top-taskbar-container-2 {
        gap: 2px;
    }
    

}